html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-novelda {
    background-color: #f4c10f; /* amarillo corporativo */
    color: #333; /* gris oscuro */
    border: none;
}

.btn-novelda:hover {
    background-color: #e0b000;
    color: #000;
}
.text-novelda {
    color: #333; /* gris oscuro */
    font-weight: 600;
}
.btn-outline-novelda {
    border: 1px solid #f4c10f;
    color: #f4c10f;
    background-color: transparent;
}

.btn-outline-novelda:hover {
    background-color: #f4c10f;
    color: #fff;
}
.table-novelda {
    background-color: #f4c10f;
    color: #333;
}
.bg-novelda {
    background-color: #fff8dc; /* tono suave amarillo claro */
}
