@model ClinicaNoveldaSalud.Models.Visit

<tr>
    <td>@Model.VisitDate.ToString("dd/MM/yyyy")</td>
    <td style="white-space: pre-wrap; word-wrap: break-word; max-width:300px;">
        @Model.Comments
    </td>
    <td>
        @if (Model.Attachments != null && Model.Attachments.Any())
        {
            foreach (var a in Model.Attachments)
            {
                <div>
                    <a target="_blank" href="~/uploads/@Model.PatientDepartment.PatientId/@Model.Id/@a.FileName">
                        @a.FileName
                    </a>
                </div>
            }
        }
        else
        {
            <em>Sin adjuntos</em>
        }
    </td>
</tr>